.add {
   display: block;
}

.none {
   display: none;
}
body{
   height: 100vh;
   background: linear-gradient(287.03deg, #43BFC9 0%, #F9F871 121.21%);
}
.conteiner{
   margin-top: 135px;
}
.main{
   width: 520px;
   height: 530px;
   margin: auto;
   background: #FFFFFF;
   border-radius: 20px;
}
.welcome{
   width: 480px;
   height: 48px;
   margin: auto;
   padding-top: 54px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 48px;
   text-align: center;

   color: #000000;
}
.descriptios{
   width: 420px;
   height: 100px;
   margin: auto;
   margin-top: 12px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   text-align: center;

   color: #000000;
}
.buttons{
   position: relative;
   width: 450px;
   margin: auto;
}
.button_link{
   width: 450px;
   height: 270px;
}

.button_link_stud{
   position: relative;
   top: 0;
   left: 0;
   clip-path: polygon(0% 0%, 100% 0%, 00% 100%);
   background-color: #5EA8C2;
   border: none;
}
.button_link_tracher {
   position: absolute;
   top: 5px;
   left: 0;
   clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
   background-color: #B4F289;
   border: none;
}
.link_button {
   text-decoration: none;
   position: absolute;
   display: block;
   top: 0;
   width: 230px;
   height: 150px;
}
.button_link_tracher>.link_button {
   top: 120px;
   right: 0;
}
.button_link_tracher> .link_button > .link_p {
   top: 20px;
   left: -5px;
}
.link_p{
   position: absolute;
   top: 20px;
   left: 30px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 48px;

   color: #FFFFFF;
}


/* step2 */

.button_form{
   position: absolute;
   width: 440px;
   height: 138px;
   left: 501px;
   top: 456px;

   background: #B4F289;
   border-radius: 20px;
   border: none;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 44px;
   /* identical to box height */


   color: #000000;
}
label{
   display: none;
}
#id_faculty{
   width: 440px;
   height: 90px;

   margin: auto;

   margin-top: 60px;

   background: #E1E1E1;
   border-radius: 20px;
   border: none;
}
option{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 44px;

    color: #000000;
}
#id_group{
   /* display: none; */
   width: 440px;
   height: 90px;

   margin: auto;

   margin-top: 60px;

   background: #E1E1E1;
   border-radius: 20px;
   border: none;
}
.id_email_prob{
   padding: 32px;
   gap: 10px;
   background: #FFE4E4;
   border: 2px solid #FF3E3E;
   border-radius: 20px;
}
#id_email{
   /* display: none; */
   width: 440px;
   height: 90px;

   margin: auto;

   margin-top: 60px;

   background: #E1E1E1;
   border-radius: 20px;
   border: none;
}
#id_email::placeholder {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 1.5em;
   line-height: 44px;
   margin-left: 10px;
}
#id_email:placeholder-shown {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 1.5em;
   line-height: 44px;
   /* margin-left: 10px; */
}


.description_p{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   width: 400px;
   margin: auto;
   margin-top: 70px;

   /* identical to box height */
}
.main_mark{
   width: 942px;
   height: 1112px;
   margin-top: -50px;

   background: #FFFFFF;
   border-radius: 20px;
}
.h_marks{
   width: 289.14px;
   height: 57.11px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 58px;
   /* identical to box height */
   color: #000000;
   margin: auto;
   padding-top: 30px;
}

@media (max-width: 530px) {
   .main{
      width: 95%;
   }
   .welcome{
      width: 100%;
   }
   .descriptios{
      width: 100%;
   }
   .buttons{
      width: 95%;
   }
   .button_link{
      width: 100%;
   }

}