{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Вітаємо!</title>
   <link rel="stylesheet" href="{% static 'board/style.css' %}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
   <div class="conteiner">
      <main class="main main_choice">
         <div class="welcome_div">
            <h1 class="welcome">
               Оберіть факультет
            </h1>
         </div>
         <div class="form">
            <form method="POST">
               <!-- <p class="description_problem">
                  Введіть будь ласка Вашу корпоративну пошту, щоб ми могли підтвердити, що Ви студент ЛНУ
               </p> -->
               {{ form.as_p }}
               <!-- <input type="submit"> -->
               <input type="submit" class="button_form button1"></input>
               {% csrf_token %}
            </form>
         </div>
      </main>
   </div>
   <script src="{% static 'board/main.js' %}"></script>
</body>
</html>