{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Вітаємо!</title>
   <link rel="stylesheet" href="{% static 'board/style.css' %}">
</head>
<body>
   <div class="conteiner">
      <main class="main">
         <div class="welcome_div">
            <h1 class="welcome">
               Оберіть факультет
            </h1>
         </div>
         <div class="form">
            {{ form.as_p }}
            <button class="button_form button1">Підтвердити</button>
         </div>
      </main>
   </div>
   <script src="{% static 'board/main.js' %}"></script>
</body>
</html>