{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Вітаємо!</title>
   <link rel="stylesheet" href="{% static 'board/style.css' %}">
</head>

<body>
   <div class="conteiner">
      <main class="main">
         <div class="welcome_div">
            <h1 class="welcome">
               Підтвердження
            </h1>
         </div>
         <div class="description">
            <p class="description_p">
               Вам на корпоративну пошту прийде посилання, щоб перейти до розділу оцінювання дисциплін.
            </p>
            <p class="description_p">
               Успішного й відповідального оцінювання 😉
            </p>
         </div>
      </main>
   </div>
   <script src="{% static 'board/main.js' %}"></script>
</body>

</html>