{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вітаємо!</title>
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="conteiner">
        <main class="main main_mark">
            <div class="welcome_div">
                <h1 class="h_marks">
                    Оцінювання 
                </h1>
                <hr>
                <h2 class="h2marks">
                    Група: {{ disciplines.0.group}}
                </h2>
                <hr>
            </div>
            <div class="description">
                {% for ds in disciplines %}
                <div class="disciplines">
                    <p class="disciplines_p">{{ ds.discipline }}</p>
                    <p class="disciplines_teacher">{{ ds.discipline.teacher }}</p>
                    <hr>
                    <div class="block_marks">
                        <form method="POST" action="{% url 'addmark' %}">
                            {{ form.as_p }}
                            <input type="hidden" value="{{ds.id}}" id="gtsid", name="gtsid">
                            {% csrf_token %}
                            <input type="submit">
                        </form>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <script src="{% static 'board/main.js' %}"></script>
</body>