<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
   {{ teacher.name }}
   {{qr_code}}
   <img src="data:image/png;base64,{{ image }}" />
   
   {%for d in data%}
      {{d}}
      <div class="vidhuk">
         <p>Чудовий вчитель і уроки класні!</p>
         <p>Нудно!</p>
         <p>Багато матеріалу</p>
         <p>Чудовий предмет, але вчитель нудний</p>
         <p>Некорисний матеріал</p>
         <p>Старі технології і методи</p>
         <p>Розказує цікаві історії</p>
      </div>
   {%endfor%}
</body>
</html>