{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Вітаємо!</title>
   <link rel="stylesheet" href="{% static 'board/style.css' %}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>


   <div class="conteiner">
      <main class="main main_mark">
         <div class="welcome_div">
            <h1 class="h_marks">
               Викладач
            </h1>
         </div>

         {{ teacher.name }}
    {%for d in data%}

   {{ teacher.name }}
   {{qr_code}}
   <img src="data:image/png;base64,{{ image }}" />
   
   {%for d in data%}
      {{d}}
      
   {%endfor%}
      </main>
   </div>
   <script src="{% static 'board/main.js' %}"></script>

   

</body>
